DATABASE_URL = to-modify

GEONAMES_USERNAME = YOUR-USERNAME

API_COUNTRIES = http://api.geonames.org/countryInfoJSON?username=YOUR-USERNAME

API_STATES = http://api.geonames.org/searchJSON?country={country_code}&featureCode=ADM1&username=YOUR-USERNAME
API_STATE = http://api.geonames.org/searchJSON?q={state_name}&country={country_code}&featureCode=ADM1&username=YOUR-USERNAME

API_CITIES = http://api.geonames.org/searchJSON?country={code}&featureCode=PPL&username=YOUR-USERNAME
API_CITY = http://api.geonames.org/searchJSON?q={city_name}&country={country_code}&adminCode1={state_code}&featureClass=P&username=YOUR-USERNAME

GEONAMEID = http://api.geonames.org/childrenJSON?geonameId={geo_name_id}&username=YOUR-USERNAME

SECRET_KEY = "your-secret-key"
REFRESH_SECRET_KEY = "your-refresh-secret-key"
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 15
REFRESH_TOKEN_EXPIRE_DAYS = 7